# Игнорируем исходники, так как билд уже готов
src
public
node_modules

# Игнорируем лишние логи и мусор
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
.vscode
.env*
README.md

# Игнорируем файлы сборки, которые не должны попасть в образ
Dockerfile
docker-compose.ymlн